
.footer-content {
    width: 100%;
    background-color: rgb(19,22,26);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    font-size: 1em;
}


.footer-content h3 {
    display: inline;
    vertical-align: top;
    font-size: 1.5em;
}


.footer-content p {
    font-size: 1em;
}

.footer-content h3, p {
    font-weight: 400;
}

.footer-info, .social-info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    gap: 1.5em;
}

.footer-logo {
    width: 30px;
    border-radius: 15px;
    display: inline;
}

.social-info img {
    background-color: rgba(244, 245, 247, 0.842);
    width: 1.5em;
    margin: 1em;
    border-radius: 1em;
}

/**
** Footer Section Media Queries
**/

@media (max-width: 1000px) {
    .footer-content {
        font-size: 0.8em;
    }
}

@media (max-width: 700px) {
    .footer-content {
        font-size: 0.6em;
    }
}
