section {
    scroll-margin-top: 60px;
}

.home {
    background-color: rgb(66, 67, 70);
    width: 100%;
    height: 900px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home div {
    width: 50%;
}

.home h1 {
    font-weight: 500;
    font-size: 50px;
}

.home span {
    color: rgb(219, 143, 44);
}

.home p {
    margin: 24px 0px 0px 0px;
    font-weight: 300;
    font-size: 30px;
}

.features {
    width: 100%;
    height: 900px;
    border: 1px solid black;
}

.pricing {
    width: 100%;
    height: 900px;
    border: 1px solid black;
}

.contact {
    width: 100%;
    height: 900px;
    border: 1px solid black;
}