main {
    font-size: 16x;
}

section {
    scroll-margin-top: 60px;
}

.home {
    background-color: rgb(66, 67, 70);
    width: 100%;
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home div {
    width: 60%;
}

.home h1 {
    font-weight: 500;
    font-size: 3em;
}

.home span {
    color: rgb(219, 143, 44);
}

.home p {
    margin: 24px 0px 0px 0px;
    font-weight: 300;
    font-size: 1.8em;
}



.features {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.features-title {
    margin-bottom: 8em;
    margin-left: 10em;
    margin-right: 10em;
}

.features-title h1 {
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    color: rgb(22, 0, 66);
}

.features-title p {
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    color: rgb(22, 0, 66);
}

.features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 4em;
}

.feature {
    width: 20em;
    height: 20em;
    background-color: rgba(229, 231, 235, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 0px rgba(229, 231, 235, 0.7);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-0.6em);
}

.feature img {
    width: 6em;
    background-color: #f5f1f1;
    padding: 1.5em;
    border-radius: 1em;
}

.feature-info {
    text-align: center;
}

.feature-info h1 {
    color: rgb(22, 0, 66);
    margin-bottom: 1em;
}

.feature-info p {
    font-size: 0.9em;
}

/**
** Home Section Media Queries
**/

@media (max-width: 710px) {
    main {
        font-size: 12px;
    }
}

@media (max-width: 295px) {
    main {
        font-size: 10px;
    }
}


/**
** Feature Section Media Queries
**/

@media (max-width: 1350px) {
    .features-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1025px) {
    .features-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1350px) {
    .features {
        font-size: 0.7em;
    }
}

@media (max-width: 600px) {
    .features {
        font-size: 0.65em;
    }
}


@media (max-width: 520px) {
    .features-container {
        grid-template-columns: 1fr;
    }
}


.pricing {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.pricing-title {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.pricing-title h1 {
    font-weight: 600;
    font-size: 3.5em;
    text-align: center;
    color: rgb(22, 0, 66);
}

.pricing-title p {
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    color: rgb(22, 0, 66);
}

.pricing-options {
    display: flex;
    flex-direction: row;
}

.pricing-option {
    width: 20em;
    height: 20em;
    background-color: rgba(229, 231, 235, 0.7);
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.contact-title {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}

.contact-title h1 {
    font-weight: 600;
    font-size: 3.5em;
    text-align: center;
    color: rgb(22, 0, 66);
}

.contact-title p {
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    color: rgb(22, 0, 66);
}

.contact-form {
    background-color: rgb(19,22,26);
    border-radius: 1em;
    padding: 1em;
}

.contact-form input, textarea {
    background-color: rgb(66, 67, 70);
    width: 35em;
    height: 3em;
    margin: 1em;
    border: none;
    border-radius: 1em;
}

.contact-form textarea {
    height: 6em;
}

.contact-form input::placeholder, textarea::placeholder {
    color: rgb(219, 143, 44);
    font-size: 1em;
    padding-left: 0.5em;
}

.contact-form input, textarea {
    color: rgb(219, 143, 44);
    font-size: 1em;
    padding-left: 0.5em;
}

.contact-form button {
    background-color: rgb(219, 143, 44);
    border: none;
    border-radius: 1em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
}