.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    z-index: 200;
}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 800px) {
    .sidebar {
        width: 120px;
    }
    .sidebar-link {
        flex-direction: row;
    }
}

@media (max-width: 799px) {
    .sidebar {
        width: 72px;
    }
    .sidebar-link {
        flex-direction: column;
    }
}

.sidebar-link:hover {
    background-color: rgb(250, 245, 245);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}